<div id="userdetailsCont" class="row userdetailsCont">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form>  
            <!--
              <div class="row email-bottom">
              <div class="form-group formemail">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 emailtextalign textpadding"> 
                <label for="Email">Email:</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
                  <input type="email" class="form-control " id="Email" placeholder="name@example.com">
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 userdetails"> 
                  <button type="submit" class="btn btn-primary ">Submit</button>
                  </div>
              </div>
            </div>
            -->
        
        
               <div class="form-group row">
                  <label for="rrfid" class="col-sm-2 col-form-label col-form-label-sm userdetails textpadding">RRFID</label>
                  <div class="col-sm-3">   
                  <input class="form-control form-control-sm" type="text" id="rrfid" placeholder="RRFID">
                  </div>
               </div>
        
               
          <div class="form-group  row">
            <label for="candidatename" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Candidate Name</label>
              <div class="col-sm-3">
              <input class="form-control form-control-sm" type="text" id="candidatename" placeholder="Candidate Name">
              </div>
        
              <label for="gender" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Gender</label>
              <div class="col-sm-3">
              <select class="form-control" id="gender">
              <option>Male</option>
              <option>Female</option>
              </select>
              </div>
           </div>
        
        
          <div class="form-group row">
           <label for="Contact" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Contact No.</label>
           <div class="col-sm-3">
           <input class="form-control form-control-sm" type="number" id="Contact" placeholder="Contact No">
           </div>
          
           <label for="EmailID" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Email ID</label>
           <div class="col-sm-3">
           <input type="email" class="form-control form-control-sm" id="EmailID" placeholder="Email ID">
           </div>
          </div>   
                  
                  
          <div class="form-group row">
             <label for="Group" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Group</label>
             <div class="col-sm-3">
             <select class="form-control" id="Group" >
                <option>Default select</option>
                <option>SAP</option>
                <option>Default select</option>
                <option>Default select</option>
             </select>
             </div>
            
             <label for="BG" class="col-sm-1 col-form-label col-form-label-sm textpadding userdetails">BG</label>
             <div class="col-sm-1">
             <input type="text" class="form-control form-control-sm" id="BG" placeholder="BG">
             </div>
        
             <label for="BU" class="col-sm-1 col-form-label col-form-label-sm textpadding userdetails">BU</label>
             <div class="col-sm-1">
             <input type="text" class="form-control form-control-sm" id="BU" placeholder="BU">
             </div>
           </div>   
        
        
           <div class="form-group row">
              <label for="BGH" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">BGH</label>
              <div class="col-sm-3">
              <input class="form-control form-control-sm" type="text" id="BGH" placeholder="BGH">
              </div>
             
              <label for="BUH" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">BUH</label>
              <div class="col-sm-3">
              <input type="text" class="form-control form-control-sm" id="BUH" placeholder="BUH">
              </div>
            </div> 
        
              
             <div class="form-group row">
                <label for="Reporting" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Reporting To</label>
                <div class="col-sm-3">
                <input class="form-control form-control-sm" type="text" id="Reporting" placeholder="Reporting To">
                </div>
               
                <label for="GHAvailment" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">GH Availment</label>
                  <div class="col-sm-3">
                   <select class="form-control" id="GHAvailment" >
                    <option>Default select</option>
                    <option>YES</option>
                    <option>NO</option>
                    </select>
                    </div>
              </div> 
        
              <div class="form-group row">
                  <label for="NatureofHiring" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Nature of Hiring</label>
                  <div class="col-sm-3">
                  <input class="form-control form-control-sm" type="text" id="NatureofHiring" placeholder="Nature of Hiring">
                  </div>
                 
                  <label for="Client" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Client(Hiring For)</label>
                  <div class="col-sm-3">
                  <input type="text" class="form-control form-control-sm" id="Client" placeholder="Client">
                  </div>
                </div>    
        
        
                <div class="form-group row">
                    <label for="OfferYear" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Offer Year</label>
                    <div class="col-sm-3">
                    <input class="form-control form-control-sm" type="text" id="OfferYear" placeholder="OfferYear">
                    </div>
                   
                    <label for="TalentAdvisor" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Talent Advisor</label>
                    <div class="col-sm-3">
                    <input type="text" class="form-control form-control-sm" id="TalentAdvisor" placeholder="Talent Advisor">
                    </div>
                  </div>     
        
        
                  <div class="form-group row">
                      <label for="PHVInitiated" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">PHV Initiated</label>
                          <div class="col-sm-3">
                          <select class="form-control" id="PHVInitiated" >
                          <option>Default select</option>
                          <option>YES</option>
                          <option>NO</option>
                          </select>
                          </div>
                     
                      <label for="Skills" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Skills</label>
                      <div class="col-sm-3">
                      <input type="text" class="form-control form-control-sm" id="Skills" placeholder="Skills">
                      </div>
                    </div>
                    
        
                    <div class="form-group row">
                        <label for="Designation" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Designation</label>
                        <div class="col-sm-3">
                        <input class="form-control form-control-sm" type="text" id="Designation" placeholder="Designation">
                        </div>
                       
                        <label for="Grade" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Grade</label>
                        <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="Grade" placeholder="Grade">
                        </div>
                      </div>
        
                      
                    <div class="form-group row">
                          <label for="ExpectedDateofJoining" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Expected Date of Joining</label>
                          <div class="col-sm-3">
                          <input class="form-control form-control-sm" type="date" id="ExpectedDateofJoining" >
                          </div>
                         
                          <label for="Status" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Status</label>
                            <div class="col-sm-3">
                             <select class="form-control" id="Status" >
                              <option>Default select</option>
                              <option>Yet To join</option>
                              <option>NO</option>
                              </select>
                              </div>
                      </div> 
                      
                      
                <div class="form-group row">
                      <label for="PrimaryBaseLocation" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Primary Base Location</label>
                       <div class="col-sm-3">
                       <input class="form-control form-control-sm" type="text" id="PrimaryBaseLocation" placeholder="Primary Base Location">
                       </div>
                   
                      <label for="ReportingLocation" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Reporting Location</label>
                      <div class="col-sm-3">
                       <input type="text" class="form-control form-control-sm" id="ReportingLocation" placeholder="Reporting Location">
                      </div>
                  </div>
        
        
                  <div class="form-group row">
                      <label for="PresentFixedCTC" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Present Fixed CTC</label>
                       <div class="col-sm-3">
                       <input class="form-control form-control-sm" type="text" id="PresentFixedCTC" placeholder="Present Fixed CTC">
                       </div>
                   
                      <label for="PresentVariableCTC" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Present Variable CTC</label>
                      <div class="col-sm-3">
                       <input type="text" class="form-control form-control-sm" id="PresentVariableCTC" placeholder="Present Variable CTC">
                      </div>
                  </div>
        
        
                  <div class="form-group row">
                      <label for="ProposedFixedSalary" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Proposed Fixed Salary</label>
                       <div class="col-sm-3">
                       <input class="form-control form-control-sm" type="text" id="ProposedFixedSalary" placeholder="Proposed Fixed Salary">
                       </div>
                   
                      <label for="ProposedVariableSalary" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Proposed Variable Salary</label>
                      <div class="col-sm-3">
                       <input type="text" class="form-control form-control-sm" id="ProposedVariableSalary" placeholder="Proposed Variable Salary">
                      </div>
                  </div>
        
        
                  <div class="form-group row">
                      <label for="Hike" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">% of Hike</label>
                       <div class="col-sm-3">
                       <input class="form-control form-control-sm" type="text" id="Hike" placeholder="% of Hike">
                       </div>
                   
                      <label for="Recruiter" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Recruiter</label>
                      <div class="col-sm-3">
                       <input type="text" class="form-control form-control-sm" id="Recruiter" placeholder="Recruiter">
                      </div>
                  </div>
        
        
                  <div class="form-group row">
                      <label for="OfferreleaseDate" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Offer release Date</label>
                       <div class="col-sm-3">
                       <input class="form-control form-control-sm" type="date" id="OfferreleaseDate" >
                       </div>
                   
                      <label for="JoiningBonus" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Joining Bonus</label>
                      <div class="col-sm-3">
                       <input type="text" class="form-control form-control-sm" id="JoiningBonus" placeholder="Joining Bonus">
                      </div>
                  </div>
        
        
                  <div class="form-group row">
                      <label for="CurrentEmployer" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Current Employer</label>
                       <div class="col-sm-3">
                       <input class="form-control form-control-sm" type="text" id="CurrentEmployer" placeholder="Current Employer">
                       </div>
                   
                      <label for="Source" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Source</label>
                      <div class="col-sm-3">
                       <input type="text" class="form-control form-control-sm" id="Source" placeholder="Source">
                      </div>
                  </div>
        
        
                  <div class="form-group row">
                      <label for="CurrentLocation" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Current Location</label>
                       <div class="col-sm-3">
                       <input class="form-control form-control-sm" type="text" id="CurrentLocation" placeholder="Current Location">
                       </div>
                   
                      <label for="Refree" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Refree Name/Vendor Name</label>
                      <div class="col-sm-3">
                       <input type="text" class="form-control form-control-sm" id="Refree" placeholder="Refree Name/Vendor Name">
                      </div>
                  </div>
        
        
                  <div class="form-group row">
                      <label for="Onboarding" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Onboarding Lead Time</label>
                       <div class="col-sm-3">
                       <input class="form-control form-control-sm" type="text" id="Onboarding" placeholder="Onboarding Lead Time">
                       </div>
                   
                      <label for="Acknowledgement" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Offer Acknowledgement</label>
                      <div class="col-sm-3">
                       <input type="text" class="form-control form-control-sm" id="Acknowledgement" placeholder="Offer Acknowledgement">
                      </div>
                  </div>
        
        
                  <div class="form-group row">
                      <label for="Seperation" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Seperation Email</label>
                          <div class="col-sm-3">
                          <select class="form-control" id="Seperation" >
                          <option>Default select</option>
                          <option>YES</option>
                          <option>NO</option>
                          </select>
                          </div>
                     
                      <label for="TeamOwner" class="col-sm-2 col-form-label col-form-label-sm textpadding userdetails">Team Owner</label>
                      <div class="col-sm-3">
                      <input type="text" class="form-control form-control-sm" id="TeamOwner" placeholder="Team Owner">
                      </div>
                    </div>
        
        
                    <div class="form-group row">
                        <label for="Remarks" class="col-sm-2 col-form-label col-form-label-sm userdetails textpadding">Remarks/Comments</label>
                        <div class="col-sm-3">   
                        <input class="form-control form-control-sm" type="text" id="Remarks" placeholder="Remarks/Comments">
                        </div>
                     </div>
        </form>
        </div>
</div>
<button type="submit" class="btn btn-primary">Update</button>

