<form>    
  <table>    
      <tr >    
          <td colspan="2" class="formspace"> 
                  <label>RRFID</label>
                  <input   placeholder="" >  
          </td> 
      </tr>
      <tr>       
          <td colspan="2" class="formspace"> 
              <label>Candidate Name</label>  
                  <input placeholder="">  
          </td>    
      </tr>  
      <tr>       
        <td colspan="2" class="formspace"> 
            <label>Group</label>  
                <input placeholder=""> 
        </td>    
    </tr>
    <tr>       
      <td colspan="2" class="formspace"> 
          <label>BG</label>   
              <input placeholder="">  
      </td>    
  </tr>
  <tr>       
    <td colspan="2" class="formspace">
        <label>BU</label>   
            <input placeholder=""> 
    </td>    
</tr>  
        <tr>    
          <td colspan="2" class="content-center formspace">    
              <button mat-raised-button color="accent">Upload</button>  
          </td>    
      </tr>    
  </table>    
</form>    