<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<form> 
  <div class="row detailsbackgruond">   
  <h4 class="userdetails">User Details Form</h4> 
  </div> 
    <div class="row">
      <div class="form-group formemail">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> 
        <label for="exampleFormControlInput1">Email:</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> 
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> 
          <button type="submit" class="btn btn-primary ">Submit</button>
          </div>
      </div>
    </div>

       <div class="form-group userdetails">
          <label for="exampleFormControlInput1">RRFID</label>
       <input class="form-control" type="text" id="exampleFormControlInput1" placeholder="RRFID">
       </div>

       <div class="form-group userdetails">
          <label for="exampleFormControlInput1">Candidate Name</label>
       <input class="form-control" type="text" id="exampleFormControlInput1" placeholder="Candidate Name">
       </div>


       <div class="form-group userdetails">
          <label for="exampleFormControlInput1">Group</label>
       <select class="form-control">
          <option>SAP</option>
          <option>Default select</option>
          <option>Default select</option>
          <option>Default select</option>
        </select>
      </div>

      <div class="form-group userdetails">
          <label for="exampleFormControlInput1">BG</label>
       <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>

      <div class="form-group userdetails">
          <label for="exampleFormControlInput1">BU</label>
       <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>


      <div class="container content-left">
          
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-info btn-lg " data-toggle="modal" data-target="#myModal">Upload</button>
        
          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content ">
                <div class="modal-header detailsbackgruond ">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4>Upload PDF</h4>
                </div>
                
                <div class="form-group">
                    
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">

                        <div class="upload">
                          <button type="button" class="btn btn-primary">Upload</button>
                        </div>
                  
                  </div>
                  
                 
              </div>
              
            </div>
          </div>
          
        </div>

</form> 

</div>