.row{
  margin-left:0px;
  margin-right:0px;
}

.sub_icon
{
  float:right;
 padding-right: 65px;
 padding-top:10px;
}
.content-header {
height: 65px;
line-height: 65px;
}

.content-header h1 {
margin: 0;
margin-left: 20px;
line-height: 65px;
display: inline-block;
}
#closeNav, #openNav{
  float: left;
}
.w3-teal{
  background: none !important;
  color: black !important;
}
.w3-container{
  padding: 0px;
}
.userDetail, .userPic{
  float: right;
  text-align: center;
}
.userDetail{
  padding-right: 0.5em;
}
.userPic{
  display: inline-block;
    border: 1px solid #666;
    padding: 2px;
    border-radius: 20px;
    width: 2.5em;
    height: 2.5em;
}
.userPic img{
  width: 2em;
  height: 2em;
}
.navbar{
  padding: 10px;
}
.w3-button{
  padding: 0;
}
.w3-bar-item{
  padding: 10px;
  font-weight: 400;
}
.w3-bar-item.active{
  background: linear-gradient(to right top, #112db1, #0049c5, #0063d5, #097ce4, #3295f0);
  color: #FFF;
  border-radius: 15px;
  font-weight: bold;
}
.w3-bar-item:hover{
  background-color:#9dc1ec !important;
}
.input-group input{
  height: 3em;
}
.input-group button{
  height: 3em;
}
i.pdf{
  color: red;
  font-size: 3em;
  padding-right: 0.7em;
}
.uploadDoc{
  padding: 0.8em 5em;
  background: linear-gradient(to right top, #112db1, #0049c5, #0063d5, #097ce4, #3295f0);
  color: #FFF;
  font-weight: bold;
  border-radius: 15px;
}
ul.recentIDs, ul.recentEmp{
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 400px;
  overflow: scroll;
}

ul.recentIDs li, ul.recentEmp li{
  padding: 10px;
  text-align:left;
  clear: both;
  cursor: pointer;
}
ul.recentIDs li:hover, ul.recentEmp li:hover{
  color: blue;
}
.recentEmp .fa-user, .recentEmp .desc{
  float: left;
  padding-left: 10px;
}
.designation{
  color: #AAA;
}
.recentEmp .fa-user{
  font-size: 2em;
}
.dashboardContainet h4{
text-align: left !important;
}
.upload {padding-left:2%;
        padding-top:2%;
        padding-bottom:2%;}

input[type='file']{
display: inline;
padding: 1em 5em;
border: 1px solid #CCC;
border-radius: 10px;
}
.modal-header span{
  color: #AAA;
}
.w3-card{
  box-shadow: none !important;
}
.floatL{
  float: left;
}